header{
    display: flex;
    width: 100%;
    border: solid rgb(102, 102, 102) 2px;
}

.Titulo{
    font-size: larger;
    flex-basis: 30%;
    padding-block: 1%;
}

.label{
    display: none;
}

.infoHeader{
    width: 550px;
    display: flex;
    flex-basis: 70%;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%; 
    padding-block: 1%;
}
