.App {
  text-align: center;
}

header {
  background-color: gray;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0px;
  display: block;
  z-index: 1000000;
}

main {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 60px;

}


footer {
  background-color: gray;
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0px;
}

.nombres{
  margin-left: 70%;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin-top: 10px;
  
}

.nombre {
  margin-left: 40px;
  list-style: none;
  
  
}
