.more{
    color: blue;

}

.more:hover{
    text-decoration: underline;
    cursor: pointer;
}

.hide{
    display: none;
}
.show{
    display: block;
}

.botonBorrar {
    background: #2b303b;
    border-style: none;
    height: 20px;
}

