.more{
    color: blue;

}

.more:hover{
    text-decoration: underline;
    cursor: pointer;
}

.hide{
    display: none;
}
.show{
    display: block;
}

.botonBorrar {
    background: none;
    border-style: none;
    height: 20px;
    font-size: large;
    margin-right: 20px;
    margin-top: 5px;
}

.cruz{
    color: rgba(114, 114, 114, 0.774);
}